<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>ToDo List</title>
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
      <% for (var i=0; i < todoList.length; i++){ %>
      <div class="item">
        <input type="checkbox" />
        <form action="/delete" method="post" class="delete-form">
          <div class="todoItem">
            <div class="todo-container"><%= todoList[i] %> </div>
            <div class="delete-button-container">
              <button type="submit" class="delete-button" name="delete" value=<%= i %> >Delete</button>
            </div>
          </div>
        </form>
      </div>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New toDo" required autocomplete="off"/>
        <button type="submit" name="button" class="submit-button">+</button>
      </form>
    </div>
  </body>
</html>
